@tailwind base;
@tailwind components;
@tailwind utilities;

.taskBar{
    background-color:  hsla(0, 0%, 0%, 0.774);
    color: aliceblue;
    border-width: 8px;
    border-style: double;
    border-color: black;
}